 
  <!--CORPS DU TEXTE-->

<div id="createemail" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->


  <!--Bandeau Bleu-->
  <div class="header accent" style="margin-bottom: 120px;"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    <div class="email">
      <mat-icon id=logoemail>alternate_email    </mat-icon>
      <h1 class=titreemail>Nouvel Email</h1>
    </div>
  </div> 
  <!---------------------------->
  <div id=corpspage>
      <div>
          <form id="activer">
            <INPUT type="checkbox" name="activer" value="Activer">
            Activer<br>
          </form>
      </div>

      <div id="formu">
        <form [formGroup]="formGroup">
          <label for="title">Titre</label>
          <input
             type="text"
             formControlName="title"
             placeholder="Title">
        </form>
      </div>

      <div>
        <label for="choixdossier">Choix du Dossier   </label>
        <form [formGroup]="formGroup">
          <select id="choixdoss" formControlName="deroul1">
              <option value=""> Dossier </option>
              <option value="Doss1">Dossier_1</option>
              <option value="Doss2">Dossier_2</option>
              <option value="Doss3">Dossier_3</option>
              <option value="Doss4">Dossier_4</option>
          </select>
        </form>
          <!--"Dossier" menu déroulant avec plusieurs "types" emails-->
      </div>
      <div id="formu">
        <form [formGroup]="formGroup">
          <label for="subject">Sujet du mail </label>
          <input
             type="text"
             formControlName="subject"
             placeholder="Email's subject">
        </form>
      </div>

      <!--A CHANGER avec les bons attributs POUR LA SUITE-->
      <div>
          <ckeditor [editor]="Editor" (change)="onChange($event)" 
           data=""></ckeditor>
      </div>

      <div>
          <form>
              <INPUT type="checkbox" name="joinfacture" value="Joindre la facture">
                Joindre la facture<br>
          </form>
      </div>

      <div><input type="file" accept="image/png, image/jpeg"></div>

      <div id="deroul"> <!-----------A COMPLETER----------->
        <form [formGroup]="formGroup">
          <select id="marketplace" formControlName="deroul2">
            <option value=""> Marketplace </option>
            <option value="Doss1">Dossier_1</option>
            <option value="Doss2">Dossier_2</option>
            <option value="Doss3">Dossier_3</option>
            <option value="Doss4">Dossier_4</option>
          </select>
        </form>

        <form [formGroup]="formGroup">
          <select id="jsp" formControlName="deroul3">
            <option value=""> JSP </option>
            <option value="Doss1">Dossier_1</option>
            <option value="Doss2">Dossier_2</option>
            <option value="Doss3">Dossier_3</option>
            <option value="Doss4">Dossier_4</option>
          </select>
        </form>
      </div>


      <div id="deroul">
        <form [formGroup]="formGroup">
          <select id="unittps" formControlName="deroul4">
            <option value=""> Unité de temps </option>
            <option value="Doss1">Dossier_1</option>
            <option value="Doss2">Dossier_2</option>
            <option value="Doss3">Dossier_3</option>
            <option value="Doss4">Dossier_4</option>
          </select>
        </form>

        <form [formGroup]="formGroup">
          <select id="plage" formControlName="deroul5">
            <option value=""> Plage de jsp </option>
            <option value="Doss1">Dossier_1</option>
            <option value="Doss2">Dossier_2</option>
            <option value="Doss3">Dossier_3</option>
            <option value="Doss4">Dossier_4</option>
          </select>
        </form>

        <form [formGroup]="formGroup">
          <select id="statcmd" formControlName="deroul6">
            <option value=""> Status de la commande </option>
            <option value="Doss1">Dossier_1</option>
            <option value="Doss2">Dossier_2</option>
            <option value="Doss3">Dossier_3</option>
            <option value="Doss4">Dossier_4</option>
          </select>
        </form>

        <label>à  </label>
        <input type="text" name=""> <!-----------A COMPLETER------------>

      </div>

      <div>
        <button mat-raised-button color="primary" (click)="handleOnSubmit()">Enregistrer</button>
      </div>
  </div>
      

</div>
