@import "src/@fuse/scss/fuse";

 #createemail {

    .top-bg {

        @include media-breakpoint('lt-md') {
            height: 256px;
        }
        
    }

    > .center {

        > .header {

            .email {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }
            }

            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }
}


.email {
    z-index: 1;
    margin: auto;
    margin-top: 75px;
    font-size: 2em;
    line-height: 60%;
    display: flex;
}

.titreemail {
    margin:0;
    margin-left: 30px;
}


#corpspage{
    margin: 0 10%;
}

#corpspage div{
    margin-top: 20px;
}

#deroul{
    display: flex; /* A VOIR SI A CHANGER PR DISPOSITION*/
    justify-content: center;

}

#deroul select{
margin: 0 3%;
}