<div id="product" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="product-image mr-8 mr-sm-16"
                    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
                >
                    <img *ngIf="product.images[0]" [src]="product.images[0].url" />
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'" />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                >
                    <div class="h2" *ngIf="pageType === 'view'">
                        {{ product.name }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Détails du produit</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="{{ 'BASIC-INFORMATION.TITLE' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'BASIC-INFORMATION.ASIN' | translate }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="Asin"
                                        name="name"
                                        formControlName="asin"
                                        value="{{ product.ASIN }}"
                                        required
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'BASIC-INFORMATION.SKU' | translate }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="Sku"
                                        name="name"
                                        formControlName="sku"
                                        value="{{ product.sku }}"
                                        required
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'BASIC-INFORMATION.PRICE' | translate }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="Prix"
                                        name="name"
                                        formControlName="price"
                                        value="{{ product.price }}"
                                        required
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'BASIC-INFORMATION.STOCK' | translate }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="Stock"
                                        name="name"
                                        formControlName="stock"
                                        value="{{ product.stock }}"
                                        required
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{ 'BASIC-INFORMATION.TVA' | translate }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="taxRate"
                                        name="name"
                                        formControlName="taxRate"
                                        value="{{ product.taxRate }}"
                                        required
                                    />
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{ 'STATISTICS.TITLE' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <!--===== A ===== GRAPH =========-->
                                <div class="main-widget">
                                    <div
                                        class="position-relative p-24 blue-600"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">{{ 'STATISTICS.SELL' | translate }}</span>
                                            <span class="h5 secondary-text">{{
                                                'STATISTICS.UNIQUE-SELL-MONTH' | translate
                                            }}</span>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <div
                                                class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                                (click)="widget1SelectedYear = '2016'"
                                                [ngClass]="{ 'blue-700': widget1SelectedYear === '2016' }"
                                            >
                                                2016
                                            </div>
                                            <div
                                                class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                                (click)="widget1SelectedYear = '2017'"
                                                [ngClass]="{ 'blue-700': widget1SelectedYear === '2017' }"
                                            >
                                                2017
                                            </div>
                                            <div
                                                class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer"
                                                (click)="widget1SelectedYear = '2018'"
                                                [ngClass]="{ 'blue-700': widget1SelectedYear === '2018' }"
                                            >
                                                2018
                                            </div>
                                        </div>
                                    </div>

                                    <div class="position-relative h-256 pb-16 blue-600">
                                        <canvas
                                            baseChart
                                            [datasets]="widgets.widget1.datasets[widget1SelectedYear]"
                                            [labels]="widgets.widget1.labels"
                                            [colors]="widgets.widget1.colors"
                                            [options]="widgets.widget1.options"
                                            [chartType]="widgets.widget1.chartType"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <!--===== B ======== GRAPH =========-->
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'MARKETING-EMAIL.TITLE' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                                </mat-form-field>

                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" matSort>
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="productName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{ 'MARKETING-EMAIL.DATABLE.TITLE-EMAIL' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                                        </ng-container>

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="numberProduct">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{ 'MARKETING-EMAIL.DATABLE.NUMBER-PRODUCT' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row">{{ row.numberProduct }}</td>
                                        </ng-container>

                                        <!-- Progress Column -->
                                        <ng-container matColumnDef="declenchement">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{ 'MARKETING-EMAIL.DATABLE.DECLENCHEMENT' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row">{{ row.declenchement }}</td>
                                        </ng-container>

                                        <!-- Color Column -->
                                        <ng-container matColumnDef="active">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{ 'MARKETING-EMAIL.DATABLE.ACTIVE' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row">{{ row.active }}</td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
        </div>
    </div>
</div>
